---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: http://gateway.marvel.com/v1/public/characters?orderBy=name&offset=1550&limit=10&ts=1632146917&apikey=public&hash=1579e01b1726d59e140d15d3a39443f3
    method: GET
  response:
    body: '{"code":200,"status":"Ok","copyright":"© 2021 MARVEL","attributionText":"Data
      provided by Marvel. © 2021 MARVEL","attributionHTML":"<a href=\"http://marvel.com\">Data
      provided by Marvel. © 2021 MARVEL</a>","etag":"3618886680d45b99c97dcfc605b276e741c26a3f","data":{"offset":1550,"limit":10,"total":1559,"count":9,"results":[{"id":1010716,"name":"Zarda","description":"","modified":"1969-12-31T19:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/characters/1010716","comics":{"available":3,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010716/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/3908","name":"Squadron
      Supreme (2006) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/5425","name":"Squadron
      Supreme Vol. 1: The Pre-War Years Premiere (Hardcover)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/30602","name":"Ultimate
      Comics New Ultimates (2010) #2"}],"returned":3},"series":{"available":3,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010716/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/944","name":"Squadron
      Supreme (2006)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/1791","name":"Squadron
      Supreme Vol. 1: The Pre-War Years Premiere (2006)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/9026","name":"Ultimate
      Comics New Ultimates (2010 - 2011)"}],"returned":3},"stories":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010716/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/5249","name":"1
      of 6 - The Pre-War Years","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/70030","name":"Cover
      #70030","type":"cover"}],"returned":2},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1010716/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/characters/2658/zarda?utm_campaign=apiRef&utm_source=4b9a594e0d687591ed5f9a1aaaea4a32"},{"type":"comiclink","url":"http://marvel.com/comics/characters/1010716/zarda?utm_campaign=apiRef&utm_source=4b9a594e0d687591ed5f9a1aaaea4a32"}]},{"id":1011163,"name":"Zarek","description":"Zarek
      is a member of the Kree race with no superhuman abilities or specialized weaponry,
      but as a blue Kree, he has enhanced strength, stamina and durability.","modifie[...]
